[user]
  email = kevin.pennarun@gmail.com
  name = Kevin Pennarun


[alias]
  ci = commit
  st = status
  please = push --force-with-lease
  commend = commit --amend --no-edit
  prettylog = log --pretty=oneline --graph --decorate
  shorty = status --short --branch

[branch]
  autosetuprebase = always
  sort=-committerdate  # DESC

[credential]
  helper = cache --timeout=43200

[remote]
  pushdefault = origin

[push]
  default = current

[rerere]
  enabled = true
  
[merge]
  tool = meld
  conflictstyle = diff3

[diff]
  guitool = meld
tool = meld

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
