{
  // Place your settings in this file to overwrite the default settings
  "editor.fontSize": 13,
  "editor.tabSize": 2,
  "editor.fontFamily": "monaspace",
  "editor.fontLigatures": true,
  "editor.minimap.enabled": true,
  "editor.stickyScroll.enabled": false,
  "extensions.ignoreRecommendations": false,
  "window.titleBarStyle": "custom",

  "files.associations": {
    "dockerfile-*": "dockerfile"
  },
  "js/ts.updateImportsOnFileMove.enabled": "always",
  "breadcrumbs.enabled": true,
  "cSpell.userWords": [
    "Aglo",
    "Algo",
    "Autocompletable",
    "Collapsable",
    "Doctolib",
    "Dolby",
    "Dropzone",
    "Farte",
    "Formik",
    "Initialized",
    "Restux",
    "Scrollable",
    "Securite",
    "Sentry",
    "Sociale",
    "Synchronizable",
    "Unmount",
    "authenticated",
    "birthdate",
    "deserialize",
    "firestore",
    "justplayfair",
    "paginator",
    "promisify",
    "props",
    "refetch",
    "serializable",
    "serializr",
    "splited"
  ],
  "editor.suggestSelection": "first",
  "[html]": {
    "editor.defaultFormatter": "oxc.oxc-vscode"
  },
  "[javascript]": {
    "editor.defaultFormatter": "oxc.oxc-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "oxc.oxc-vscode"
  },
  "[typescript]": {
    "editor.defaultFormatter": "oxc.oxc-vscode"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "oxc.oxc-vscode"
  },
  "[vue]": {
    "editor.defaultFormatter": "oxc.oxc-vscode"
  },
  "terminal.integrated.fontFamily": "{{ .fonts.terminal }}",
  "[jsonc]": {
    "editor.defaultFormatter": "oxc.oxc-vscode"
  },
  "extensions.autoUpdate": false,
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "quickfix.biome": "explicit"
  },
  "[graphql]": {
    "editor.defaultFormatter": "oxc.oxc-vscode"
  },
  "[markdown]": {
    "editor.defaultFormatter": "oxc.oxc-vscode"
  },
  "terminal.integrated.scrollback": 10000,
  "github.copilot.enable": {
    "*": true,
    "yaml": true,
    "plaintext": false,
    "markdown": true,
    "scminput": false
  },
  "terminal.integrated.tabs.location": "left",
  "gitlens.hovers.currentLine.over": "line",
  "telemetry.telemetryLevel": "off",
  "editor.inlineSuggest.enabled": true,
  
  "explorer.fileNesting.enabled": true,
  "js/ts.preferences.importModuleSpecifier": "relative",
  "[mjml]": {
    "editor.defaultFormatter": "biomejs.biome"
  },
  "[css]": {
    "editor.defaultFormatter": "biomejs.biome"
  },
  "workbench.iconTheme": "symbols",
  "symbols.hidesExplorerArrows": false,
  "window.zoomLevel": 1,
  "workbench.colorTheme": "GitHub Dark Dimmed",
  "prisma.scriptRunner": "pnpm",
  "github.copilot.nextEditSuggestions.enabled": false,
  "editor.inlineSuggest.edits.renderSideBySide": "never",
  "diffEditor.ignoreTrimWhitespace": false,  
}
